- name: Base VE config
  hosts: "{{ target_hosts | default('f5') }}"
#  connection: local
  gather_facts: False

  vars:
    bigip_provider:
      server: 10.1.1.245
      user: admin
      password: admin
      validate_certs: no
    bigip_pool: web
    bigip_pool_member: 10.1.20.100
    bigip_pool_member_port: 80
    bigip_vip_port: 80
    bigip_virtual_name: web-vip
    ntp_var: [1.1.1.1, 2.2.2.2, 3.3.3.3]

  tasks:
  - name: Add 1.1 as untagged interface for outside VLAN
    bigip_vlan:
        untagged_interface: 1.1
        name: "outside"
        provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add 1.2 as untagged interface for inside VLAN
    bigip_vlan:
        untagged_interface: 1.2
        name: "inside"
        provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create Self IP
    bigip_selfip:
      address: 10.1.10.1
      name: outside-self1
      netmask: 255.255.255.0
      vlan: outside
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create Self IP
    bigip_selfip:
      address: 10.1.20.1
      name: inside-self1
      netmask: 255.255.255.0
      vlan: inside
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create pool
    bigip_pool:
      state: present
      name: "{{ bigip_pool }}"
      partition: Common
      lb_method: least-connections-member
      slow_ramp_time: 120
      monitors:
        - http
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add pool member
    bigip_pool_member:
      state: present
      pool: "{{ bigip_pool }}"
      partition: Common
      host: "{{ bigip_pool_member }}"
      port: "{{ bigip_pool_member_port }}"
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Add virtual server
    bigip_virtual_server:
      state: present
      partition: Common
      name: "{{ bigip_virtual_name }}"
      destination: 10.1.10.100
      port: "{{ bigip_vip_port }}"
      pool: "{{ bigip_pool }}"
      snat: Automap
      description: Test Virtual Server
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Upload an irule
    bigip_irule:
      content: "{{ lookup('template', 'test.tcl') }}"
      module: ltm
      name: MyiRule
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Collect BIG-IP facts
    bigip_device_facts:
      gather_subset:
        - devices
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
    register: bigip_stuff
  - debug: var=bigip_stuff.devices
  - name: set ntp server
    bigip_device_ntp:
      timezone: Australia/Victoria
      ntp_servers:
        "{{ ntp_var }}"
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create a remote role
    bigip_remote_role:
      name: foo
      line_order: 1
      attribute_string: memberOf=cn=ldap_group,cn=ldap.group,ou=ldap
      remote_access: yes
      assigned_role: administrator
      partition_access: all
      terminal_access: none
      state: present
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Create LDAP auth provider
    bigip_device_auth_ldap:
      bind_dn: foo
      bind_password: foo
      check_member_attr: true
      fallback_to_local: yes
      login_ldap_attr: samaccountname
      port: 389
      scope: sub
      servers: a.a.com
      state: present
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
  - name: Ensure a job that runs at 2 and 5 exists. Creates an entry like "0 5,2 * * ls -alh > /dev/null"
    cron:
      name: "check dirs"
      minute: "0"
      hour: "5,2"
      job: "ls -alh > /dev/null"
  - name: Add Device Group from A (Primary) node only
    bigip_device_group:
      name: foo
      description: "Sync Failover between nodes"
      auto_sync: yes
      type: sync-failover
      network_failover: yes
      state: present
      provider: "{{ bigip_provider }}"
    delegate_to: localhost
