; SOA Record
gslb.{{ zone_name }}.       60       IN     SOA     {{ inventory_hostname }}.   dns.{{ zone_name }}. (
                                        01 ;serial
                                        300 ;refresh
                                        300 ;retry
                                        300 ;expire
                                        300 ;minimum
                                        )


gslb.{{ zone_name }}.       60       IN     NS      ns1.f5cloudservices.com.
gslb.{{ zone_name }}.       60       IN     NS      ns2.f5cloudservices.com.

; CNAME Records
www     60       IN     A       5.5.5.5

